<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhh.mapper.TblUserMapper">

    <sql id="base_sql_column">
        id, username, password, age, sex, dept_id, create_time
    </sql>

    <select id="selectAll" resultType="com.lhh.bean.TblUser">
        select
        <include refid="base_sql_column"/>
        from tbl_user
    </select>

    <select id="findByUsernameAndPassword" resultType="com.lhh.bean.TblUser">
        select
        <include refid="base_sql_column"/>
        from tbl_user where username='${param1}' and password=#{param2}
    </select>

    <select id="findByExampleWithSelect" parameterType="com.lhh.bean.TblUser" resultType="com.lhh.bean.TblUser">
        select
        <include refid="base_sql_column"/>
        from tbl_user
        <where>
            <if test="id!=null and id!=''">and id=#{id}</if>
            <if test="username!=null and username!=''">and username=#{username}</if>
            <if test="password!=null and password!=''">and password=#{password}</if>
            <if test="age!=null and age!=''">and age=#{age}</if>
            <if test="sex!=null and sex!=''">and sex=#{sex}</if>
            <if test="deptId!=null and deptId!=''">and deptId=#{deptId}</if>
            <if test="createTime!=null and createTime!=''">and createTime=#{createTime}</if>
        </where>
    </select>
</mapper>